.container {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.page-content {
    display: flex;
    max-width: 1280px;
    padding: 0 32px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-top: 100px;
}

.col-md-6 {
    text-align: center;
}

.login-title {
    color: #3D3D3D;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.welcome-message {
    color: #7C7C7C;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.label-top {
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    color: #3D3D3D;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.custom-input {
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    overflow: hidden;
    color: #656565;
    text-overflow: ellipsis;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 340px;
    margin-top: 10px;
}

.form-group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remember-me-checkbox {
    color: #344054;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-right: auto;
}

.forgot-password-link {
    color: #7D0007;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.remember-me-and-forgot-password {
    display: flex;
    width: 340px;
    margin: 20px auto;
}

.custom-button {
    width: 340px;
    height: 40px;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-top: -10px;
}

.sign-in-button {
    border: 1px solid #7D0007;
    background: #7D0007;
    color: #FFF;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.google-sign-in-button {
    border: 1px solid #D0D5DD;
    background: white;
    color: #344054;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    margin-top: 15px;
}

@media (max-width: 765px) {
    .container {
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .page-content {
        display: flex;
        padding: 0 32px;
        gap: 32px;
        align-self: stretch;
        margin-top: 60px;
    }

    .col-md-6 {
        text-align: center;
    }

    .login-title {
        color: #3D3D3D;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
    }

    .welcome-message {
        color: #7C7C7C;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .label-top {
        display: block;
        text-align: left;
        width: 100%;
        margin-top: 5px;
        color: #3D3D3D;
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .custom-input {
        border-radius: 8px;
        background-color: #FFF;
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
        overflow: hidden;
        color: #656565;
        text-overflow: ellipsis;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 250px;
        margin-top: 10px;
    }

    .form-group-container {
        display: flex;
    }

    .remember-me-checkbox {
        color: #344054;
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        margin-right: auto;
    }

    .forgot-password-link {
        color: #7D0007;
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
    }

    .remember-me-and-forgot-password {
        display: flex;
        width: 250px;
        margin: 20px auto;
    }

    .custom-button {
        width: 250px;
        height: 40px;
        border-radius: 8px;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin: 0 auto;
    }

    .sign-in-button {
        border: 1px solid #7D0007;
        background: #7D0007;
        color: #FFF;
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    }

    .google-sign-in-button {
        border: 1px solid #D0D5DD;
        background: white;
        color: #344054;
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
        margin-top: 15px;
    }
}
