.terms-conditions-page {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 500px;
    margin: 0 auto;
}

.img-fluid {
    margin-top: 30px;
    margin-bottom: 30px;
}

.terms-conditions-page h1, h2 {
    color: #3D3D3D;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.terms-conditions-page p {
    color: #7C7C7C;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.t-and-c-button {
    width: 340px;
    height: 40px;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: 1px solid #7D0007;
    background: #7D0007;
    color: #FFF;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    margin-bottom: 30px;
    margin-top: 10px;
}

@media (max-width: 765px) {
    .terms-conditions-page {
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        width: 340px;
        margin: 0 auto;
    }

    .terms-conditions-page h1, h2 {
        color: #3D3D3D;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
    }

    .terms-conditions-page p {
        color: #7C7C7C;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}
